In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.simplefilter('ignore')

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.drop(columns={'Booking_ID'}, inplace=True)

In [5]:
df.shape

(29020, 18)

In [6]:
df.isnull().sum()

no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(7661)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.shape

(21359, 18)

In [10]:
df['no_of_adults'].value_counts()

no_of_adults
2    15489
1     3996
3     1748
0      113
4       13
Name: count, dtype: int64

In [11]:
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,1,2,1,Meal Plan 1,0,Room_Type 1,26,2017,10,17,Online,0,0,0,161.00,0,Not_Canceled
1,2,1,1,1,Meal Plan 1,0,Room_Type 1,98,2018,7,16,Online,0,0,0,121.50,2,Not_Canceled
2,2,0,0,3,Meal Plan 1,0,Room_Type 1,433,2018,9,8,Offline,0,0,0,70.00,0,Canceled
3,2,0,2,5,Meal Plan 1,0,Room_Type 1,195,2018,8,8,Offline,0,0,0,72.25,0,Not_Canceled
4,1,0,0,2,Meal Plan 1,0,Room_Type 1,188,2018,6,15,Offline,0,0,0,130.00,0,Canceled

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21359 entries, 0 to 29019
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          21359 non-null  int64
 1   no_of_children                        21359 non-null  int64
 2   no_of_weekend_nights                  21359 non-null  int64
 3   no_of_week_nights                     21359 non-null  int64
 4   type_of_meal_plan                     21359 non-null  object
 5   required_car_parking_space            21359 non-null  int64
 6   room_type_reserved                    21359 non-null  object
 7   lead_time                             21359 non-null  int64
 8   arrival_year                          21359 non-null  int64
 9   arrival_month                         21359 non-null  int64
 10  arrival_date                          21359 non-null  int64
 11  market_segment_type                   21359 non-null  object
 12  repeated_guest                        21359 non-null  int64
 13  no_of_previous_cancellations          21359 non-null  int64
 14  no_of_previous_bookings_not_canceled  21359 non-null  int64
 15  avg_price_per_room                    21359 non-null  float64
 16  no_of_special_requests                21359 non-null  int64
 17  booking_status                        21359 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 3.1+ MB

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
label_encoder = LabelEncoder()

In [15]:
mappings = {}